.menu li{
    display: inline-block;
}
.menu a{
    text-decoration: none;
    color: white;
    background-color: rgb(77, 27, 52);
    padding: 10px 20px;
    border-radius: 15px;
}
.menu ul{
    list-style: none;
}
.menu a:hover{
    background-color:yellowgreen;
    color:rgb(49, 13, 13);
}
/*paddingte olan 10px ustten alta 20px ise sagdan sola yapti kisaltilmis hali boyle */